{% extends "ds_template.njk" %}

{% from "./macros/header/macro.njk"              import scotgovHeader -%}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  ScotGov Prototype Kit
{% endblock %}

{% block header %}
  {{ scotgovHeader({
    classes: '',
    homepageUrl: '/',
    serviceName: serviceName,
    banner: {
      tag: 'prototype',
      text: 'This is not a full service. It is not production code and you might experience problems.'
    },
    navigation: [
      {
        text: 'Navigation item 1',
        active: true
      },
      {
        href: '#2',
        text: 'Navigation item 2'
      },
      {
        href: '#3',
        text: 'Navigation item 3'
      },
      {
        href: '#4',
        text: 'Navigation item 4'
      }
    ]
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("ds_layout--article") %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
