{# specify absolute url for the static assets folder e.g. http://wwww.domain.com/assets #}
{%- set assetUrl = assetUrl | default(assetPath) -%}
<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="{{ htmlClasses }}">
  <head>
    <meta charset="utf-8">
    <title{% if pagetitlelang %} lang="{{ pageTitleLang }}" {% endif %}>
      {% block pageTitle %}The Scottish Government - gov.scot{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default('#ffffff') }}">
    {# Ensure that older IE versions always render with the correct rendering engine #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/govuk-mask-icon.svg" color="{{ themeColor | default('#ffffff') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/govuk-apple-touch-icon.png">
    {% endblock %}

    {% block head %}{% endblock %}
    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    {# image url needs to be absolute e.g. http://wwww.domain.com/.../govuk-opengraph-image.png #}
    <meta property="og:image" content="{{ assetUrl | default('/assets') }}/images/govuk-opengraph-image.png">
  </head>
  <body class="{{ bodyClasses }}" {%- for attribute, value in bodyAttributes %} {{attribute}}="{{value}}" {% endfor %}>
    <script>
      document.body.className = (
        (document.body.className)
          ? document.body.className + ' js-enabled'
          : 'js-enabled'
      );
    </script>
    <div class="ds_page">
      <div class="ds_page__top">
        {% block bodyStart %}{% endblock %}

        <div class="ds_skip-links">
          <ul class="ds_skip-links__list">
            <li class="ds_skip-links__item">
              <a class="ds_skip-links__link" href="#main-content">Skip to main content</a>
            </li>
          </ul>
        </div>

        {% block header %}
          <header class="ds_site-header" role="banner">
            <div class="ds_wrapper">
              <div class="ds_site-header__content">
                <div class="ds_site-branding">
                  <a class="ds_site-branding__logo  ds_site-branding__link" href="/">
                    <img class="ds_site-branding__logo-image" alt="Scottish Government" src="/public/images/logos/scottish-government.svg">
                  </a>

                  {% if useAutoStoreData %}
                    <div class="ds_site-branding__title">
                      {{ serviceName }}
                    </div>
                  {% endif %}
                </div>

                {# <div class="ds_site-header__search  ds_site-search  ds_site-search--collapsible" data-module="ds-site-search">
                  <form role="search" class="ds_site-search__form">
                    <label class="ds_label  visually-hidden" for="site-search">Search</label>

                    <div class="ds_input__wrapper  ds_input__wrapper--has-icon  ds_no-margin">
                      <input name="q" required="" id="site-search" class="ds_input  ds_site-search__input" type="text" placeholder="Search" autocomplete="off"/>

                      <button type="submit" class="ds_button  js-site-search-button">
                        <span class="visually-hidden">Search</span>
                        <svg class="ds_icon" aria-hidden="true" role="img">
                          <use xlink:href="/public/images/icons/icons.stack.svg#search"></use>
                        </svg>
                      </button>
                    </div>
                  </form>
                </div> #}
              </div>
            </div>



            <div class="ds_phase-banner">
              <div class="ds_wrapper">
                <p class="ds_phase-banner__content">
                  <strong class="ds_tag  ds_phase-banner__tag">
                    Prototype
                  </strong>
                  <span class="ds_phase-banner__text">
                    This is not a full service. It is not production code and you might experience problems.
                  </span>
                </p>
              </div>
            </div>
          </header>
        {% endblock %}
      </div>

      <div class="ds_page__middle">
        {% block main %}
          <div class="ds_wrapper {{ containerClasses }}">
            {% block beforeContent %}{% endblock %}
            <main class="ds_layout ds_layout--article {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
              {% block content %}{% endblock %}
            </main>
          </div>
        {% endblock %}
      </div>



<div class="ds_back-to-top">
    <a href="#" class="ds_back-to-top__button">Back to top <svg class="ds_icon  ds_back-to-top__icon" aria-hidden="true" role="img"><use xlink:href="/public/images/icons/icons.stack.svg#arrow_up"></use></svg></a>
</div>



      <div class="ds_page__bottom">
        {% block footer %}
          <footer class="ds_site-footer  ds_reversed">
            <div class="ds_wrapper">
              <div class="ds_site-footer__content">
                <ul class="ds_site-footer__site-items">
                  <li class="ds_site-items__item">
                    <a href="#">Privacy</a>
                  </li>
                  <li class="ds_site-items__item">
                    <a href="#">Cookies</a>
                  </li>
                  <li class="ds_site-items__item">
                    <a href="#">Accessibility</a>
                  </li>
                </ul>

                <div class="ds_site-footer__copyright">
                  <a class="ds_site-footer__copyright-logo" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                    <img src="/public/images/logos/ogl.svg" alt="Open Government License"/>
                  </a>
                  <p>All content is available under the
                    <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except for graphic assets and where otherwise stated</p>
                  <p>&copy; Crown Copyright</p>
                </div>

                <div class="ds_site-footer__org">
                  <a class="ds_site-footer__org-link" title="The Scottish Government" href="http://www.gov.scot/">
                    <img class="ds_site-footer__org-logo" src="/public/images/logos/scottish-government.svg" alt="gov.scot"/>
                  </a>
                </div>
              </div>
            </div>
          </footer>
        {% endblock %}
      </div>

      {% block bodyEnd %}{% endblock %}
    </div>
  </body>
</html>
